/*=========================================================================================*/
/*PAGE 1 LOGIN*/
/*=========================================================================================*/
.d{
	height: 250px;
	width: 400px;
	margin: 0 auto;
	text-align: center;
}

#bLog{
	margin-top: 60px;
	background-image: url('ezgif.com-resize.gif');
}

#log{
	font-size: 25px;
	font-weight: bold;
	color: white;
}
/*=========================================================================================*/
/*PAGE 2 LOGIN*/
/*=========================================================================================*/
#bIndex{
	margin-top: 30px;
	background-image: url('output_KnAEfo.gif');
}

#list{
	margin: 0 auto;
}
/*=========================================================================================*/
/*PAGE 3 ADD OR UPDATE*/
/*=========================================================================================*/